<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scripts</title>
</head>
<body>

<!--https://frontbackend.com/thymeleaf/how-to-add-bootstrap-css-and-js-to-thymeleaf-->
<!--https://stackoverflow.com/questions/35988081/thymeleaf-include-content-of-fragment-->
<div th:fragment="assets" th:remove="tag">
	<script src="/js/keys.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
	<script src="/js/index.js"></script>
</div>

</body>
</html>