<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<th:block th:switch="${status}">
	<div th:case="'404'">
		<h1>404</h1>
		<span>Page Not Found</span>
		<p>It looks like the page you were looking for does not exist or the url was incorrect</p>
	</div>
	<div th:case="'403'">
		<h1>You don't have permission to view this page.</h1>
	</div>
	<div th:case="'400'">
		<h1>There was an error processing your request</h1>
	</div>
</th:block>
</body>
</html>