<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: header-links(home)"></head>
<body>

<nav th:replace="partials/nav :: navbar"></nav>

<div class="grid grid-cols-12">
	<div class="col-span-full md:col-span-6">
		<img src="/img/correy_everett.jupiter.jpg" alt="correy everett">
		<p>
			Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt 
			ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
			<a href="#">
				<img src="/img/linkedinLogo.png" alt="linkdin">
			</a>
			<a href="#">
				<img src="/img/gitHubLogo.png" alt="linkdin">
			</a>
		</p>
	</div>
	<div class="col-span-full md:col-span-6">
		<img src="/img/correy_everett.jupiter.jpg" alt="correy everett">
		<p>
			Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
			ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
			<a href="#">
				<img src="/img/linkedinLogo.png" alt="linkdin">
			</a>
			<a href="#">
				<img src="/img/gitHubLogo.png" alt="linkdin">
			</a>
		</p>
	</div>
	<div class="col-span-full md:col-span-6">
		<img src="/img/correy_everett.jupiter.jpg" alt="correy everett">
		<p>
			Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
			ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
			<a href="#">
				<img src="/img/linkedinLogo.png" alt="linkdin">
			</a>
			<a href="#">
				<img src="/img/gitHubLogo.png" alt="linkdin">
			</a>
		</p>
	</div>
	<div class="col-span-full md:col-span-6">
		<img src="/img/correy_everett.jupiter.jpg" alt="correy everett">
		<p>
			Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
			ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
			<a href="#">
				<img src="/img/linkedinLogo.png" alt="linkdin">
			</a>
			<a href="#">
				<img src="/img/gitHubLogo.png" alt="linkdin">
			</a>
		</p>
	</div>
</div>

<div th:replace="partials/scripts :: assets"></div>
</body>
</html>