<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: header-links(home)"></head>
<body>

<nav th:replace="partials/nav :: navbar"></nav>

<div class="grid grid-cols-12">
	<div class="col-span-full lg:col-span-6 px-8 py-4 border border-gray-900 border border-gray-900 border-l-0 border-r-0 flex-col md:flex-row flex justify-around items-center">
		<img src="/img/correy_everett.jupiter.jpg" alt="correy everett" class="max-h-56 w-auto flex-none">
		<div class="max-w-sm flex flex-wrap justify-center h-full px-4">
			<div>
				<q>First, solve the problem.
					Then, write the code.
				</q>
				<cite>-John Johnson</cite>
			</div>
			<a href="https://www.linkedin.com/in/correyeverett/" class="self-end">
				<img src="/img/linkedinLogo.png" alt="linkdin" class="inline-block">
			</a>
			<a href="https://github.com/correyEverett" class="ml-4 self-end">
				<img src="/img/gitHubLogo.png" alt="linkdin" class="inline-block">
			</a>
		</div>
	</div>
	<div class="col-span-full lg:col-span-6 px-8 py-4 border border-gray-900 border-r-0 lg:border-l border-l-0 border-t-0 lg:border-t flex-col md:flex-row flex justify-around items-center">
		<img src="/img/anthony-vidaurri.jpg" alt="correy everett" class="max-h-56 w-auto flex-none">
		<div class="max-w-sm flex flex-wrap justify-center h-full px-4">
			<div>
				<q>
					Lorem ipsum dolor sit amet, consec-tetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
					ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
				</q>
				<cite>-person</cite>
			</div>
			<a href="#" class="self-end">
				<img src="/img/linkedinLogo.png" alt="linkdin" class="inline-block">
			</a>
			<a href="#" class="ml-4 self-end">
				<img src="/img/gitHubLogo.png" alt="linkdin" class="inline-block">
			</a>
		</div>
	</div>
	<div class="col-span-full lg:col-span-6 px-8 py-4 border border-gray-900 border-l-0 border-r-0 flex-col md:flex-row flex justify-around items-center border-t-0">
		<img src="/img/jordy-muniz.jpg" alt="jordy muniz" class="max-h-56 w-auto flex-none p-2">
		<div class="max-w-sm flex flex-wrap justify-center h-full px-4">
			<div>
				<q>
					Don’t Let Yesterday Take Up Too Much Of Today.
				</q>
				<cite class="block">–Will Rogers</cite>
			</div>
			<a href="https://www.linkedin.com/in/jordy-muniz" class="self-end" target="blank">
				<img src="/img/linkedinLogo.png" alt="linkdin" class="inline-block">
			</a>
			<a href="https://github.com/jordysolis96" class="ml-4 self-end" target="blank">
				<img src="/img/gitHubLogo.png" alt="linkdin" class="inline-block">
			</a>
		</div>
	</div>
	<div class="col-span-full lg:col-span-6 px-8 py-4 border border-gray-900 border-r-0 lg:border-l border-l-0 flex-col md:flex-row flex justify-around items-center border-t-0">
		<img src="/img/connor-wulf.jpg" alt="connor wulf" class="max-h-52 w-auto flex-none">
		<div class="max-w-sm flex flex-wrap justify-center h-full px-4">
			<div>
				<q>
					You will find that if you look for the light, you can often find it, but if you look for the dark, that is all you will ever see.
				</q>
				<cite class="block">-Iroh</cite>
			</div>
			<a href="https://www.linkedin.com/in/connor-wulf" class="self-end" target="blank">

				<img src="/img/linkedinLogo.png" alt="linkdin" class="inline-block">
			</a>
			<a href="https://github.com/ConWulf" class="ml-4 self-end" target="blank">
				<img src="/img/gitHubLogo.png" alt="linkdin" class="inline-block">
			</a>
		</div>
	</div>
</div>

<div th:replace="partials/scripts :: assets"></div>
</body>
</html>