<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links(app)"></head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>
<hr class="bg-grey-300 mt-8">
<h1 style="text-align: center; font-weight: bold" class="text-location pt-5">Application for Position</h1>
        <hr class="bg-grey-300 mt-5 mb-20">
        <div class="grid md:grid-cols-2">
            <!--START COLUMN-->
            <div class="col-span-1 grid gap-y-0.5 justify-center">
                <p class="text-job-title text-2xl underline h-8" th:text=" ${jobApplication.title}"></p>
                <p style="font-weight: bold">Company Name: <span class="font-thin" th:text=" ${jobApplication.company}"></span></p>
                <p style="font-weight: bold">Post Id: <span class="font-thin" th:text=" ${jobApplication.postingId}"></span></p>
                <p style="font-weight: bold">Referred by: <span class="font-thin"  th:text=" ${jobApplication.referredBy}"></span></p>
                <p style="font-weight: bold">Description: <span class="font-thin" th:text=" ${jobApplication.description}"></span></p>
            </div>
            <!--END COLUMN-->
            <!--START COLUMN-->
            <div class="col-span-1 grid gap-4 justify-center">
                <p style="font-weight: bold" class="text-location" th:text=" ${jobApplication.location}"></p>
                <p style="font-weight: bold">Salary: <span class="font-thin" th:text=" ${jobApplication.salary}"></span></p>
                <p style="font-weight: bold">Type: <span class="font-thin" th:text=" ${jobApplication.positionType}"></span></p>
                <p style="font-weight: bold">Current Stage: <span class="font-thin" th:text=" ${stage.stage}"></span></p>
                <p style="font-weight: bold">Resume Used:</p>
                <a class="" th:href=" @{jobApplication.resume.filePath}" th:if="${jobApplication.resume != null}" th:text=" ${jobApplication.resume.title}"></a>
                <div class="grid grid-cols-2">
                    <button class="text-button bg-edit rounded-md mr-4" th:href="@{|/applications/edit/${jobApplication.id}|}">Edit

                    </button>
                    <button class="text-button bg-delete rounded-md ml-4">Delete

                    </button>
                </div>
            </div>
            <!--END COLUMN-->
        </div>


<!--        <p style="font-weight: bold">date applied:</p>-->
<!--        <p th:text=" ${jobApplication.dateApplied}"></p>-->
<!--        <br>-->



<!--        <br>-->
<!--        <p style="font-weight: bold">Date</p>-->
<!--        <p th:text=" ${date}"></p>-->
<!--        <hr class="curve-fade">-->
<!--        <p style="text-align: center; font-weight: bold">notes</p>-->
<!--        <div class="grid grid-cols-12 gap-2">-->
<!--            <div class="py-1 px-4 md:col-span-4 col-span-full">-->
<!--                <div th:each="note : ${jobApplication.note}">-->
<!--                    <div class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--                        <p style="font-weight: bold">note:</p>-->
<!--                        <p th:text=" ${note.body}"></p>-->
<!--                        <br>-->
<!--                        <p style="font-weight: bold">Created at:</p>-->
<!--                        <p th:text=" ${note.createdAt}"></p>-->
<!--                        <form th:action="@{|/notes/delete/${note.id}|}" method="post">-->
<!--                            <input type="hidden" name="application" th:value="${jobApplication.id}">-->
<!--                            <button>remove</button>-->
<!--                        </form>-->
<!--                        <a th:href="@{|/note/${note.id}|}">Edit note</a>-->
<!--        </div>-->
<!--            </div>-->
<!--                </div>-->
<!--                    </div>-->
<!--		<a th:href="@{|/applications/edit/${jobApplication.id}|}"></a>-->
<!--        <hr class="curve-fade">-->
<!--        <p style="text-align: center; font-weight: bold">Create POC</p>-->
<!--		<form th:action="@{/poc}" method="post" th:object="${poc}">-->
<!--			<label for="email" >email:</label>-->
<!--			<input id="email" type="email" th:field="*{email}" class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--			<label for="firstName">first name:</label>-->
<!--			<input id="firstName" type="text" th:field="*{firstName}" class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--            <br>-->
<!--			<label for="lastName">last name:</label>-->
<!--			<input id="lastName" type="text" th:field="*{lastName}" class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--			<label for="phone">phone:</label>-->
<!--			<input id="phone" type="tel" th:field="*{phoneNumber}" class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--            <br>-->
<!--			<label for="position">position:</label>-->
<!--			<input id="position" type="text" th:field="*{position}" class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--			<input type="hidden" name="application" th:value="${jobApplication.id}">-->
<!--            <br>-->
<!--			<button>add pont of contact</button>-->
<!--            <hr class="curve-fade">-->
<!--		</form>-->
<!--        <p style="font-weight: bold; text-align: center">Point of contacts</p>-->
<!--        <div class="grid grid-cols-12 gap-2">-->
<!--            <div class="py-1 px-4 md:col-span-4 col-span-full">-->
<!--                <div th:each="contact : ${jobApplication.poc}">-->
<!--                    <div class="shadow-md transition-all duration-300 rounded hover:shadow-2xl">-->
<!--                        <br>-->
<!--                        <p style="font-weight: bold">Position:</p>-->
<!--                        <p th:text=" ${contact.position}"></p>-->
<!--                        <br>-->
<!--                        <p style="font-weight: bold">Name of contact:</p>-->
<!--                        <p th:text=" ${contact.firstName + ' ' + contact.lastName}"></p>-->
<!--                        <br>-->
<!--                        <p style="font-weight: bold">Contact number:</p>-->
<!--                        <p th:text=" ${contact.phoneNumber}"></p>-->
<!--                        <br>-->
<!--                        <p style="font-weight: bold">Contact email:</p>-->
<!--                        <p th:text=" ${contact.email}"></p>-->
<!--                        <br>-->
<!--			            <form th:action="@{|/poc/delete/${contact.id}|}" method="post">-->
<!--				            <input type="hidden" name="application" th:value="${jobApplication.id}">-->
<!--				            <button>remove</button>-->
<!--			            </form>-->
<!--			            <form th:action="@{|/poc/edit/${contact.id}|}">-->
<!--				            <input type="hidden" name="application" th:value="${jobApplication.id}">-->
<!--				            <button>edit</button>-->
<!--			            </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr class="curve-fade">-->
<!--        <p style="text-align: center; font-weight: bold">Create Note</p>-->
<!--<form th:action="@{/notes}" method="post" th:object="${note}">-->
<!--    <label for="note">Note:</label>-->
<!--    <input type="text" id="note" th:field="*{body}" placeholder="note">-->
<!--    <input type="hidden" name="application" th:value="${jobApplication.id}">-->
<!--    <br>-->
<!--    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">-->
<!--					<span class="absolute left-0 inset-y-0 flex items-center pl-3">-->
<!--						&lt;!&ndash; Heroicon name: solid/lock-closed &ndash;&gt;-->
<!--						<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--							<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />-->
<!--						</svg>-->
<!--					</span>-->
<!--        Make note-->
<!--    </button>-->
<!--    <br>-->
<!--</form>-->

<div th:replace="partials/scripts :: assets"></div>
</body>
</html>