<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Individual Job</title>
</head>
<body>
    <div class="container">
        <h3 th:text="${application.title}"></h3>
        <a th:href="@{${application.company}}"></a>
        <p th:text="${application.dateApplied}"></p>
        <p th:href="@{${application.postingId}}"></p>
        <p th:text="${application.referredBy}"></p>
        <p th:text="${application.description}"></p>
        <hr>
        <p th:text="${application.location}"></p>
        <p th:text="${application.salary}"></p>
        <p th:text="${application.positionType}"></p>
        <p th:text="${stage}"></p>
        <hr>
        <p>POC</p>
        <div th:each="contact : ${application.poc}">
            <p th:text="${contact.position}"></p>
            <p th:text="${contact.firstName + ' ' + contact.lastName}"></p>
            <p th:text="${contact.phoneNumber}"></p>
            <p th:text="${contact.email}"></p>
        </div>
        <hr>
        <p>Notes:</p>
        <div th:each="note : ${notes}">
            <p th:text="${note.note}"></p>



    </div>
</body>
</html>