<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links(applications)"></head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>
    <div class="container">
        <div th:each="jobApplication : ${applications}">
            <p th:text="${jobApplication.company}"><h6 th:text="${jobApplication.dateCreated}"></h6></p>
            <p th:text="${jobApplication.title}"></p>
            <p th:text="${jobApplication.dateApplied}"></p>
            <p th:text="${jobApplication.dateCreated}"></p>
            <p th:text="${jobApplication.location}"></p>
			<a th:href="@{|/applications/${jobApplication.id}|}">full application</a>
			<a th:href="@{|/applications/${jobApplication.id}/edit|}">edit application</a>
        </div>
    </div>
    <!--START MAPBOX CONTAINER-->
    <div id='map' style='width: 80%; height: 80%;'></div>
    <!--END MAPBOX CONTAINER-->
</body>
</html>