<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links(create)"></head>
    <body>
        <nav th:replace="partials/nav :: navbar"></nav>
        <form class="container" th:action="@{/create-application}" method="POST" th:object="${jobApplication}">
            <!--JobTitle-->
            <div class="form-group">
                <label for="jobTitleInput">Job Title</label>
                <input type="text" class="form-control" id="jobTitleInput" th:field="*{title}"> <!-- aria-describedby="emailHelp"-->
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <!--PostId-->
            <div class="form-group">
                <label for="postId">Post ID</label>
                <input type="text" class="form-control" id="postId" th:field="*{postingId}">
                <p>(Optional)</p>
            </div>
            <!--DateApplied-->
            <div class="form-group">
                <label for="dateApplied">Date Applied</label>
                <input type="date" class="form-control" id="dateApplied" th:field="*{dateApplied}">
            </div>
            <!--ReferredBy-->
            <div class="form-group">
                <label for="referenceName">Referred By</label>
                <input type="text" class="form-control" id="referenceName" th:field="*{referredBy}">
                <p>(Optional)</p>
            </div>
            <!--CompanyName-->
            <div class="form-group">
                <label for="companyName">Company</label>
                <input type="text" class="form-control" id="companyName" th:field="*{company}">
            </div>
            <!--JobDescription-->
            <div class="form-group">
                <label for="jobDescription">Description</label>
                <textarea type="text" class="form-control" id="jobDescription" th:field="*{description}"></textarea>
                <p>(Optional)</p>
            </div>
            <hr>
            <!--JobLocation-->
            <div class="form-group">
                <label for="jobLocation">Location</label>
                <input type="text" class="form-control" id="jobLocation" th:field="*{location}">
            </div>
            <!--Salary-->
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" class="form-control" id="salary" th:field="*{salary}">
                <p>(Optional)</p>
            </div>
            <!--PositionType-->
            <div class="form-group">
                <label for="positionType">Position Type</label>
<!--                <input type="text" class="form-control" id="positionType" th:field="*{positionType}">-->
                <select name="positionType" id="positionType">
                    <option value="full-time">Full-Time</option>
                    <option value="full-time-remote">Full-Time Remote</option>
                    <option value="part-time">Part-Time</option>
                    <option value="part-time-remote">Part-Time Remote</option>
                    <option value="contract">Contract</option>
                    <option value="contract-remote">Contract Remote</option>
                    <option value="temporary">Temporary</option>
                    <option value="temporary-remote">Temporary Remote</option>
                    <option value="seasonal">Seasonal</option>
                    <option value="seasonal-remote">Seasonal Remote</option>
                    <option value="apprenticeship">Apprenticeship</option>
                    <option value="apprenticeship-remote">Apprenticeship Remote</option>
                    <option value="intern">Intern</option>
                    <option value="intern-remote">Intern Remote</option>
                    <option value="freelance">Freelance</option>
                </select>
                <input type="text" class="form-control" id="positionType" th:field="*{positionType}">
                <p>(Optional)</p>
            </div>
            <p>Resume(Optional)</p>
			<fieldset th:each="resume : ${resumes}">
					<input type="radio" name="resume" th:value="${resume.id}">
					<label  th:text="${resume.title}"></label>
			</fieldset>
            <!--ApplicationStage-->
            <div class="form-group">
                <label for="applicationStage">Application Stage</label>
                <select id="applicationStage" name="test">
                    <option th:each="s : ${stage}" th:value="${s.id}" th:text="${s.stage}"></option>
                </select>
            </div>
            <input type="hidden" th:field="*{id}">

            <button type="button" th:onclick="|window.location.href='/applications'|">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <div th:replace="partials/scripts :: assets"></div>
    </body>
</html>