<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links(note)"></head>
<body class="w-screen h-screen">
<div class="flex flex-col h-full">
	<nav th:replace="partials/nav :: navbar"></nav>


	<h1 style="text-align: center; font-weight: bold; font-size: x-large">Update your note</h1>
	<form th:action="@{|/note/${notes.id}|}" method="post" th:object="${notes}" class="flex h-full flex-col justify-start space-y-4 px-4 lg:pl-0 w-full max-w-2xl mx-auto items-center">
		<label for="note" class="sr-only">Note</label>
		<textarea type="text" id="note" th:field="*{body}" placeholder="note" th:value="${body}" required class="resize-none mt-3  appearance-none rounded-md w-full relative block mx-auto px-4 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"></textarea>
	<!--    <input type="hidden" name="application" th:value="${application.id}">-->
		<button type="submit" class=" px-6 py-2 w-full bg-edit rounded-full text-white mt-3">
			Edit
		</button>
	</form>
	<div th:replace="partials/footer :: footer"></div>
</div>
<div th:replace="partials/scripts :: assets"></div>
</body>
</html>