<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: header-links(profile)"></head>
<body>

<nav th:replace="partials/nav :: navbar"></nav>
<div sec:authorize="isAuthenticated()">
<h1 style="text-align: center; font-weight: bold">Welcome <span th:text="${user.firstName + '!'}">!</span></h1>
</div>

<div sec:authorize="isAuthenticated()">
    Full name: <p th:text="${user.firstName + ' '  + user.lastName}"></p>
<br>
    Email: <p th:text="${user.email}"></p>
</div>
<br>
    <h1 style="text-align: center; font-weight: bold">Edit Profile</h1>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/profile}" th:method="post" th:object="${user}">
        Email:
        <label>
            <input th:field="*{email}" required/>
        </label>
        <br />
        First Name:
        <input th:field="*{firstName}" required/>
        <br />
        Last Name:
        <input th:field="*{lastName}" required/>
        <br />
<!--        Password:-->
<!--        <input th:field="*{password}" />-->
<!--        <br />-->
                <input th:field="*{id}" type="hidden"/>
                <br />
        <button type="submit" value="Update" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					<span class="absolute left-0 inset-y-0 flex items-center pl-3">
						<!-- Heroicon name: solid/lock-closed -->
						<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
						</svg>
					</span>
            Edit profile
        </button>
	</form>
</div>
<br>

<h3 style="font-weight: bold; text-align: center">your resumes</h3>
<div th:each="resume : ${user.resumes}">
	<p th:text="${resume.title}"></p>
	<form th:action="@{|/resume/${resume.id}|}" method="post">
		<button>remove resume</button>
	</form>
</div>

<form th:action="@{/fileUpload}" method="post" enctype="multipart/form-data" th:object="${resume}">
	<label for="resume">Upload a resume!</label>
	<input type="file" id="resume" name="file">
	<label for="title">Title</label>
	<input type="text" th:field="*{title}" id="title">
	<label for="description">description</label>
	<textarea th:field="*{description}" id="description"></textarea>
	<input type="submit" value="upload" />
</form>

<!--<form th:action="@{/profile}" th:method="POST">-->
<!--<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">-->
<!--					<span class="absolute left-0 inset-y-0 flex items-center pl-3">-->
<!--						&lt;!&ndash; Heroicon name: solid/lock-closed &ndash;&gt;-->
<!--						<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--							<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />-->
<!--						</svg>-->
<!--					</span>-->
<!--    Delete profile-->
<!--</button>-->
<!--</form>-->

<!--    <br>-->
<!--<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">-->
<!--					<span class="absolute left-0 inset-y-0 flex items-center pl-3">-->
<!--						&lt;!&ndash; Heroicon name: solid/lock-closed &ndash;&gt;-->
<!--						<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
<!--							<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />-->
<!--						</svg>-->
<!--					</span>-->
<!--    Edit profile-->
<!--</button>-->

    <div th:replace="partials/scripts :: assets"></div>
    </body>
    </html>


