<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links(sign-up)"></head>
<body>
<nav th:replace="partials/nav :: navbar"></nav>

<form th:action="@{/sign-up}" method="post" th:object="${user}">
    <label for="email">Email</label>
    <input type="text" id="email" th:field="*{email}" placeholder="email">
    <br>
    <label for="username">Username</label>
    <input type="text" id="username" th:field="*{username}" placeholder="username">
    <br>
    <label for="first">First name</label>
    <input type="text" id="first" th:field="*{firstName}" placeholder="first name">
    <br>
    <label for="last">Last Name</label>
    <input type="text" id="last" th:field="*{lastName}" placeholder="last name">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}" placeholder="password">
    <br>
    <input type="submit" value="Sign Up!" />

	<ul class="text-sm" th:each="error: ${#fields.errors('password')}">
		<li th:each="message : ${error.split(',')}" class="relative px-3 py-1 leading-normal text-red-700 rounded-lg">
					<span class="absolute inset-y-0 left-0 flex items-center ml-4">
						<svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
							<path d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" fill-rule="evenodd"></path>
						</svg>
					</span>
			<p class="ml-6" th:text="${message}"></p>
		</li>
	</ul>
	<div class="text-white px-3 py-2 border-0 rounded relative mb-4 bg-red-500" th:if="${username != null}" th:text="'a user with username '+${username}+' already exists'"></div>
	<div class="text-white px-3 py-2 border-0 rounded relative mb-4 bg-red-500" th:if="${email != null}" th:text="'the email '+${email}+' is already being used'"></div>

	<div th:if="${mismatch == 0}" class="text-white px-3 py-2 border-0 rounded relative mb-4 bg-red-500">
				<span class="inline-block align-middle mr-8 text-lg">
					Passwords do not match
				</span>
	</div>
</form>


<a href="login">Already have an account? Login here!</a>

<div th:replace="partials/scripts :: assets"></div>
</body>
</html>