<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links(sign-up)"></head>
<body class="bg">
<nav th:replace="partials/nav :: navbar"></nav>
<div class=" flex flex-wrap items-center justify-around py-14 px-4 sm:px-6 lg:px-8 w-full">
<form th:action="@{/sign-up}" method="post" th:object="${user}" class="my-8 space-y-6">
    <label for="email" class="sr-only">Email</label>
    <input type="text" id="email" th:field="*{email}" placeholder="Email">
    <br>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" th:field="*{username}" placeholder="Username">
    <br>
    <label for="first" class="sr-only">First name</label>
    <input type="text" id="first" th:field="*{firstName}" placeholder="First Name">

    <label for="last" class="sr-only">Last Name</label>
    <input type="text" id="last" th:field="*{lastName}" placeholder="Last Name">
    <br>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" th:field="*{password}" placeholder="password">
    <br>
	<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					<span class="absolute left-0 inset-y-0 flex items-center pl-3">
						<!-- Heroicon name: solid/lock-closed -->
						<svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
							<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
						</svg>
					</span>
		Submit
	</button>
<br>

	<ul class="text-sm" th:each="error: ${#fields.errors('password')}">
		<li th:each="message : ${error.split(',')}" class="relative px-3 py-1 leading-normal text-red-700 rounded-lg">
					<span class="absolute inset-y-0 left-0 flex items-center ml-4">
						<svg class="w-4 h-4 fill-current" viewBox="0 0 20 20">
							<path d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" fill-rule="evenodd"></path>
						</svg>
					</span>
			<p class="ml-6" th:text="${message}"></p>
		</li>
	</ul>
	<div class="text-white px-3 py-2 border-0 rounded relative mb-4 bg-red-500" th:if="${username != null}" th:text="'a user with username '+${username}+' already exists'"></div>
	<div class="text-white px-3 py-2 border-0 rounded relative mb-4 bg-red-500" th:if="${email != null}" th:text="'the email '+${email}+' is already being used'"></div>

	<div th:if="${mismatch == 0}" class="text-white px-3 py-2 border-0 rounded relative mb-4 bg-red-500">
				<span class="inline-block align-middle mr-8 text-lg">
					Passwords do not match
				</span>
	</div>
</form>
</div>


<!--<p>Already have an account? <a  href="/" class="font-medium text-indigo-600 hover:text-indigo-500">Login here!</a></p>-->

<div th:replace="partials/scripts :: assets"></div>
</body>
</html>